hcloud_token                              = "TOKEN"
cloudflare_token                          = "TOKEN"
cert_manager_acme_email                   = "email"
github_gha_runner_controller_pat_mijke    = "TOKEN"
github_gha_runner_controller_pat_personal = "TOKEN"
create_kubeconfig                         = true
domain_contact_information = {
  contact_type   = "PERSON"
  first_name     = ""
  last_name      = ""
  email          = ""
  phone_number   = ""
  address_line_1 = ""
  country_code   = ""
  city           = ""
  zip_code       = ""
}
